
      /* General Styles */
body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    color: #e3e3e3;
    background: #f5f5f7;
    cursor: none;



    overflow: hidden;



}
.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: lightblue;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;

    z-index: 99999999; /* so that it stays on top of all other elements */
}

h2 {
    text-align: center;
    font-size: 80px;
    margin: 20px auto;
    padding-top: 150px;

}

h2:last-child {
    color: #f0f0f0;
}

/* Preloader */
#preLoader {
    background: #080948 url(Images/loading.gif) no-repeat center center;
    background-size: 40%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    color: #f0f0f0;
    cursor: progress;
}
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.pacifico-regular-2 {
    font-family: "Pacifico", cursive;
    font-weight: 200;
    font-style: normal;
}

.homemade-apple-regular {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
}
.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 600;
    font-style: normal;
}

/* Header */
#Header {
    text-align: center;
}

/* Navigation */
.navigation {
    background: rgba(0, 0, 0, 0.12);
    box-shadow: 0 8px 32px 0 rgba(5, 5, 5, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 6vh;
    width: 60%;
    margin: 0 auto auto;
    z-index: 4;
    overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 99%;
    align-content: center;
}

.navButton {
    width: 10.7em;
    height: 6vh;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: none;
    text-transform: uppercase;

}

.navButton:hover {
    background-color: rgba(173, 216, 230, 0.84);
}


nav ul .navButton {
    text-decoration: none;
    color: black;
    font-size: 1.4vw;
}


/* Main */
#main {
    position: relative;
    align-content: center;
    overflow: hidden;
    scroll-behavior: smooth;
    cursor: none;
}

#hero-section {
    height: 85vh;
    width: 99vw;
    border-radius: 0;
    /*border: solid rgba(0, 0, 0, 0.69) 0.5px;*/
    background: transparent;
    z-index: -2;
    margin: 3vh auto 8vh;
    cursor: none;


}
canvas {
    position: absolute;
    background: transparent;


    width: 99vw;
    height: 80vh;
    align-content: center;
    overflow: hidden;

}
#title-1{
    font-size: 19vw;
    margin: 25vh auto 25vh auto;
    color: rgba(0, 0, 0, 0.92);

    position: absolute;

}
#title-2{
    position: absolute;

    font-size: 5vw;
    margin: 16vh auto 16vh 16vw;
    color: rgba(173, 216, 230, 0.66);
}
#avatar {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: -15vh;
    left: 19vw;
    z-index: 2;
    image-rendering: smooth;
    cursor: none;



}
#sub-hero-section{
    height: 80vh;
    width: 70vw;
    background: transparent;
    margin: -5vh 0.5vw;
    overflow: hidden;

}
#sub-hero-section-content{
    height: 100%;
    width: 100%;
    font-size: 8.1vw;
    color: rgba(0, 0, 0, 0.63);
    margin-left: 2vw;
    margin-top: 1vh;
    line-height: 0.7;
    z-index: 1;
}
#page2 {
    background: white;
    background-size: cover;

    border-radius: 0;
    margin: -3vh auto;
    border: 0;
    height: 110vh;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

/* About Content */
#about-content {
    height: 90%;
    width: 100%;
    margin-top: 5%;
    z-index: 3;
    background: transparent;
    cursor: none;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(4,23%) ;
    grid-template-areas: "main main skill" "main main skill" "education undecided skill" "about about undecided2"

}
.grid-item{
    margin: 1vw;
    background: rgba(187, 187, 187, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}
#about1{
    grid-area: main;
    overflow: hidden;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(3,33%) ;
    grid-template-areas: "pp info other4" "pp info other4""level level other3";
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}
#image{
    overflow: hidden;
    background: rgba(0, 0, 0, 0.25);
    grid-area: pp;
    width: 70%;

}
#pp{
    max-height: 100%;
    max-width:  100%;
    image-rendering: optimizeSpeed;
    overflow: hidden;
    scale: 1.2;
    margin-top: 9%;
    margin-left: 10%;

}
      #main-content{
          grid-area: info;
          width: 105%;
          margin-left: -11%;
          font-weight: 400;

      }
      #main-content h1{
          margin-top: 5%;
          margin-left: 2%;
          color: black;
      }
      #main-content p{
          margin-left: 4%;
          margin-top: -1%;
          font-size: large;
      }
      #main-content p span{
          color: rgba(248, 3, 3, 0.61);
      }

#level{
    grid-area: level;
    display: grid;
    grid-template-columns: 10% 80%;
    grid-template-rows: auto ;
    align-content: center;

}
#level h1{
    color: black;
    position: relative;
    font-size: 200%;
}

      .progress {
          margin: 7% 7% 7% 2%;
          background: rgba(208, 204, 204, 0.63);
          justify-content: flex-start;
          border-radius: 100px;
          align-items: center;
          position: relative;
          display: flex;
          height: 40%;
          width: 100%;
      }

      .progress-value {
          animation: load 2s normal forwards;
          border-radius: 100px;
          background: #fff;
          height: 30px;
          width: 75%;
      }
      .progress-value span{
          color: rgba(248, 3, 3, 0.61);
          font-size: 150%;
          margin: 50%;

      }

      @keyframes load {
          0% { width: 0; background-color: black }
          100% { width: 75%; background-color: black }
      }
#undecided2{
    grid-area: other3;
}
#undecided3{
    grid-area: other4;
}
.inner-grid-item{
    justify-content: center;
    margin: 1vw;
    border-radius: 1vw;
    background: rgba(47, 47, 47, 0.3);

}

#about2{
    grid-area: skill;
    background: rgba(0, 0, 0, 0.82);

}
#about3{
    grid-area: education;
}
#about4{
    grid-area: undecided;

}
#about5{
    grid-area: about;
}
#about6{
    grid-area: undecided2;
}



#page3 {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    overflow: hidden;
    border-radius: 25px;
    background: rgba(0,0,0,0.38);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2vh);
    -webkit-backdrop-filter: blur(2vh);
    text-align: center;
    visibility: hidden;
    cursor: none;
}
#page3 h2{
    display: inline-block;
    text-align: center;
    margin-top: 40vh;
    font-size: 15vw;
    color: transparent;
    -webkit-text-stroke: 1px lightblue;
}



#projects-container{
    height: 10vh;
    width: 40vw;
    position: absolute;
    left:0;
    top: 40%;
    opacity: 0;
    cursor: none;


}
#card1{
    z-index: 1;
    left:-1%
}
#card2{
    z-index: 0;
    left:-2%
}
#card3{
    z-index: -1;
    left:-3%
}
.card {
    position: absolute;
    height: 400px;
    width: 100%;
    margin: 0;
    perspective: 1200px;
    scale: 0.12;
    border-radius: 2vh;
    cursor: none;

}
.card:hover .cover {
    transform: rotateX(0deg) rotateY(-180deg);
}
.card:hover .cover:before {
    transform: translateZ(30px);
}
.card:hover .cover:after {
    background-color: black;
}
.card:hover .cover h1 {
    transform: translateZ(100px);
}
.card:hover .cover .price {
    transform: translateZ(60px);
}
.card:hover .cover a {
    transform: translateZ(-60px) rotatey(-180deg);
}
.card .cover {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: ease all 0.7s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 2vh;
}
.card .cover:before {
    content: '';
    position: absolute;
    border: 5px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    transition: ease all 0.7s;
    transform-style: preserve-3d;
    transform: translateZ(0px);
}
.card .cover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: ease all 0.35s;
    background: rgba(0, 0, 0, .4);
}
.card .cover.item-a {
    background-image: url('https://images.unsplash.com/photo-1520412099551-62b6bafeb5bb?auto=format&fit=crop&w=600&q=80');
}
.card .cover.item-b {
    background-image: url('https://images.unsplash.com/photo-1497250681960-ef046c08a56e?auto=format&fit=crop&w=600&q=80');
}
.card .cover.item-c {
    background-image: url('https://images.unsplash.com/photo-1525945518069-b924046d1385?auto=format&fit=crop&w=600&q=80');
}
.card .cover h1 {
    font-weight: 600;
    position: absolute;
    bottom: 55px;
    left: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 0.7s;
    z-index: 3;
    font-size: 3em;
    transform: translateZ(0px);
}
.card .cover .price {
    font-weight: 200;
    position: absolute;
    top: 55px;
    right: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 0.7s;
    z-index: 4;
    font-size: 2em;
    transform: translateZ(0px);
}
.card .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0b0f08;
    transform-style: preserve-3d;
    transition: ease all 0.7s;
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;

}
.card .card-back a {
    transform-style: preserve-3d;
    transition: ease transform 0.7s, ease background 0.7s;
    transform: translateZ(-1px) rotatey(-180deg);
    background: transparent;
    border: 1px solid white;
    width: 7vw;
    font-weight: 200;
    font-size: 2vw;
    color: white;
    padding: 5% 7%;
    outline: none;
    text-decoration: none;
    cursor: none;

}
.card .card-back a:hover {
    background-color: white;
    color: #0b0f08;
}

#page4 {
    margin: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    overflow: hidden;
    background-color: #202020;
    box-sizing: border-box;
}
#body {
    font-family: 'poppins' ,sans-serif;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 600px;

}
#filter{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10vh);
    position: absolute;
}

:root {
    --width: 420px;
    --height: 260px;
    --i-width: calc(var(--height)*0.25 - 23px);
}
#body::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#add8e6, #b4acac);
    clip-path: circle(22% at 30% 22%);
    z-index: -1;

}
#body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#FFF, rgba(173, 216, 230, 0.57));
    clip-path: circle(25% at 70% 80%);
    z-index: -1;
}
.containerid {
    position: relative;
    transform-style: preserve-3d;
}
.cardid {
    position: relative;
    width: var(--width);
    height: var(--height);
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(9px);
    border-top: 1px solid #FFF2;
    border-left: 1px solid #FFF2;
    box-shadow: 4px 4px 12px #0004;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 0.5fr;
    grid-gap: 8px;
    padding: 10px;
    color: #FFF;
    overflow: hidden;
    transition: transform 0.7s;

}
.cardid::before {
    content: '';
    position: absolute;
    left: -59%;
    width: 70px;
    height: var(--width);
    background-color: #FFFB;
    transform: rotate(38deg) translateY(-25%);
    z-index: 1;
}
.containerid:hover .cardid:before {
    animation: brightness 0.8s 1 forwards;
}
@keyframes brightness {
    0% {
        left: -59%;
    }
    100% {
        left: 112%;
    }
}
.imgbox {
    width: 115px;
    height: 115px;
    border: 10px solid #FFF2;
    box-shadow: 0 2px 4px #0008, 0 -1px 1px #FFF;
    border-radius: 50%;
    overflow: hidden;
    grid-row: 1 / 2;
}
.imgbox img {
    width: 100%;
}
.name-job {
    width: 155px;
    text-align: center;
    text-shadow: 1px 2px 2px #000;
    grid-column: 1;
    grid-row: 2 / 3;
}
.name-job h3 {
    margin-bottom: 0.1em;
}
.name-job h5 {
    color: #FF6;
}
.info {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    padding: 7px;
    line-height: 1.8;
    font-weight: 200;
}
.skills {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skills .fa-brands {
    cursor: pointer;
    position: relative;
    width: 45px;
    height: 45px;
    background-color: #FFF5;
    box-shadow: 0 2px 4px #0008, 0 -1px 1px #FFF;
    display: grid;
    place-content: center;
    font-size: 1.22em;
    border-radius: 50%;
    transition: 0.3s;
}
.skills .fa-brands:hover {
    background-color: #FFF;
    color: #222;
    scale: 1.5;
}
.call {
    cursor: pointer;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background-color: #555;
    color: #FFF;
    border: 2px solid #FFF;
    display: grid;
    place-content: center;
    border-radius: 50%;
    z-index: 1;
    transition: 0.4s;
}
.call:hover {
    border-color: #222;
    color: #000;
    background-color: #FC0;
}
.call:focus {
    transform: rotateY(45deg) translateX(120px) translateZ(-70px);
}
.call:focus ~ .cardid {
    transform: rotateY(45deg) translateX(110px) translateZ(-120px);
}
.call:focus ~ .icons {
    height: var(--height);
    transform: translateZ(var(--i-width)) translateY(-50%);
}
.icons {
    position: absolute;
    left: 5px;
    top: 50%;
    width: var(--i-width);
    height: calc(var(--i-width)*4);
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateZ(calc(var(--i-width) * -1)) translateY(-50%);
    transform-style: preserve-3d;
}
.icon {
    position: relative;
    width: var(--i-width);
    height: var(--i-width);
    transform-style: preserve-3d;
    transform: rotateX(-40deg) rotateY(45deg);
    transition: 0.7s;
}
.icon:hover {
    cursor: pointer;
    transform: rotateX(-40deg) rotateY(315deg);
}
.icon .fa-brands {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    color: #0FF;
    border: 1px dashed #0FF;
    display: grid;
    place-content: center;
    font-size: 1.2em;
    transition: 0.5s;
}
.icon:hover .fa-brands {
    border-color: inherit;
    background-color: #FFF;
}
.front {
    transform: translateZ(calc(var(--i-width)*0.5));
}
.back {
    transform: translateZ(calc(var(--i-width)* -0.5));
}
.left {
    transform: rotateY(-90deg) translateZ(calc(var(--i-width)* 0.5));
}
.right {
    transform: rotateY(90deg) translateZ(calc(var(--i-width)* 0.5));
}
.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--i-width)* 0.5));
}
.top {
    transform: rotateX(90deg) translateZ(calc(var(--i-width)* 0.5));
}

/* ! icons color */
.icon:hover .fa-facebook-f {
    color: #0000dd;
}
.icon:hover .fa-twitter {
    color: #002fff;
}
.icon:hover .fa-youtube {
    color: #F00;
}
.icon:hover .fa-whatsapp {
    color: #0F0;
}
/* Sections */
section {
    margin-bottom: 20px;
}

.project-item {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px 0;
}

.project-item:hover {
    padding: 20px;
}

#title {
    position: absolute;
    margin-top: 20vh;
    width: 70vw;
    left: 4.7vw;
    z-index: 1;
}

#content {
    position: fixed;
    height: 75vh;
    width: 70vw;
    overflow: hidden;
    left: 22vw;
    top: 15vh;
}

#content-text {
    font-size: 2.8vh;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    height: 70vh;
    overflow: hidden;
    display: inline;
    color: #050000;
}

#content-text2 {
    font-size: 1.5vh;
    font-family: sans-serif;
    height: 70vh;
    overflow: hidden;
    color: #6999fb;
    display: inline;
}





/* Media Queries */


@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
        overflow: auto; /* Allow scrolling */
    }

    html.lenis, html.lenis body {
        height: auto;
        overflow: auto; /* Ensure scrolling is enabled */
    }

    .lenis.lenis-smooth {
        scroll-behavior: auto !important;
    }

    .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
    }

    .lenis.lenis-stopped {
        overflow: hidden;
    }

    .lenis.lenis-smooth spline-viewer, .lenis.lenis-smooth body {
        pointer-events: visible;
    }
}

/* Lenis Smooth Scroll */
html.lenis, html.lenis body {
    height: auto;
    scroll-behavior: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}